body {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,600&display=swap&subset=cyrillic-ext');
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    background-color: #EBC500;
}

.buttonup {
    padding-left: 5px;
    transition: 0.5s;
    display: grid;
    align-items: center;
    width:60px;
    height:60px;
    position:fixed;
    bottom:50px;
    left:50px;
    outline: none!important;
}

.buttonup:hover {
    transition: 0.5s;
    background-color: #746301;
    border-radius: 50%;

}