body {
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0, 300;0,400;0,600;0,700;1,600&display=swap&subset=cyrillic-ext');
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 18px;
    line-height: 1.2;
    font-weight: normal;
    color: black;
    background-color: #EBC500;
    height: 100%;
}